body {
  background-color: rgb(1, 1, 59);
}

html,
.App,
#root,
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@font-face {
  font-family: billabong;
  src: url(./images/Billabong.ttf);
}

main.mainPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.logOutSection {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

p.logOut {
  justify-content: flex-end;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 10px 0 0;
}

a {
  text-decoration: none;
}

h1.mainPage {
  color: white;
  text-shadow: 1.75px 1.75px #338be6;
  font-family: billabong;
  font-size: 4rem;
  font-weight: 300;
  background-color: rgba(1, 1, 59, 0.5);
  border-radius: 42%;
  margin: 15px 175px 10px 175px;
}

div.inputBox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input.inputBox {
  border-radius: 5px;
  outline-color: #338be6;
}

button.inputBox {
  border-radius: 5px;
  margin-left: 5px;
  outline: none;
}

.fa-map-pin {
}

div.map {
  width: 310px;
  height: 250px;
  border: 2.5px solid white;
  box-shadow: 0 0 10px white;
  border-radius: 5px;
}

/* Log in page */

main.logInPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1.logInPage {
  text-align: center;
  color: white;
  text-shadow: 1.75px 1.75px #338be6;
  font-family: billabong;
  font-size: 4rem;
  font-weight: 300;
  background-color: rgba(1, 1, 59, 0.3);
  border-radius: 42%;
  margin: 20px 175px 50px 175px;
}

div.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px 0 10px 0;
  margin: 25px 10px 10px 10px;
  background-color: rgba(1, 1, 59, 0.6);
  border: 1.25px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

img.logo {
  width: 80px;
  margin-top: -50px;
  margin-bottom: 10px;
}

.camera {
  width: 70px;
  border-radius: 50%;
  margin-top: -45px;
  margin-bottom: 10px;
}

.plus {
  width: 20px;
  border-radius: 50%;
  margin-top: -25px;
  margin-right: -43px;
  margin-bottom: 5px;
}

button.googleLogIn {
  color: white;
  background-color: #3a88ed;
  border: none;
  font-size: 15px;
  height: 25px;
  width: 200px;
  margin-bottom: 5px;
  cursor: pointer;
}

button.facebookLogIn {
  color: white;
  background-color: #395a94;
  border: none;
  font-size: 15px;
  height: 25px;
  width: 200px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* pin-popUp page */

div.pinPopUp {
  display: flex;
  flex-direction: column;
  background-color: #eceae4;
  width: 140px;
  height: 120px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.mapboxgl-popup {
  z-index: 1;
}

div.mapboxgl-popup-content {
  background-color: #eceae4;
  border-radius: 5px;
}

p.pinPopUp {
  margin: 0;
}

img.photoAlbumPreview {
  max-height: 100px;
  max-width: 100px;
  margin: 0;
}

button.pinPopUp {
  width: 100px;
  /* margin: 10px; */
  cursor: pointer;
}

/* photo gallery page */

main.photoGalleryPage {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 5px;
  margin: 5px;
}

div.topBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.profileBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.profileImage {
  width: 70px;
  border-radius: 50%;
  margin-top: 10px;
}

img.profilePlus {
  border-radius: 50%;
  width: 20px;
  margin-top: -15px;
  margin-left: 43px;
}

h4.profileBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 550;
  margin: 10px 0 10px 5px;
}

input.profileBar {
  width: 100px;
  margin: 5px;
}

button.profileBar {
  width: 100px;
  cursor: pointer;
}

div.photoGallerySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h4.photoGallerySection {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 550;
}

img.photoPlus {
  border-radius: 50%;
  width: 20px;
}

div.photosGalleryImages {
  display: flex;
  flex-wrap: wrap;
}

img.photoGalleryImage {
  margin: 2px;
  height: 125px;
  width: 125px;
}

/* individual photo page */

div.individualPhoto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 5px;
  width: 100%;
  max-width: 310px;
  min-height: 300px;
  margin: 20px;
}

img.photo {
  margin-top: 10px;
  width: 290px;
  /* height: 280px; */
}

div.photoPageBack {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

a.photoPageBack {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

/* Footer */

footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* media */
/* 
Full screen size perfect

photo gallery page



main.photoGalleryPage {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 5px;
}

div.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.profileBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.profileImage {
  width: 70px;
  border-radius: 50%;
  margin-top: 10px;
}

img.profilePlus {
  border-radius: 50%;
  width: 20px;
  margin-top: -15px;
  margin-left: 43px;
}

h4.profileBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 550;
  margin: 10px 0 10px 5px;
}

input.profileBar  {
  width: 100px;
  margin: 5px;
}

button.profileBar  {
  width: 100px;
  cursor: pointer;
}

div.photoGallerySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h4.photoGallerySection  {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 550;
}

img.photoPlus {
  border-radius: 50%;
  width: 20px;
}

div.photoGalleryImages {
  display:flex;
  flex-wrap: wrap;
}

img.photoGalleryImage {
  margin: 2px;
  height: 100px;
  width: 125px;
}

Individual photo page

div.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 5px;
  width: 500px;
  margin: 20px;
}

img.photo {
  margin-top: 25px;
  width: 450px;
  height: 450px;
} */
