@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

body {
  background-color: rgb(1, 1, 59);
}

html,
.App,
#root,
body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@font-face {
  font-family: billabong;
  src: url(./images/Billabong.ttf);
}

main.mainPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.logOutSection {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

p.logOut {
  justify-content: flex-end;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px 10px 0 0;
}

a {
  text-decoration: none;
}

h1.mainPage {
  color: white;
  text-shadow: 1.75px 1.75px #338be6;
  font-family: billabong;
  font-size: 4rem;
  font-weight: 300;
  background-color: rgba(1, 1, 59, 0.5);
  border-radius: 42%;
  margin: 15px 175px 10px 175px;
}

div.inputBox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input.inputBox {
  border-radius: 5px;
  outline-color: #338be6;
}

button.inputBox {
  border-radius: 5px;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: #e3f0f5;
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 2.5px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -30px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

div.map {
  width: 310px;
  height: 250px;
  border: 2.5px solid white;
  box-shadow: 0 0 10px white;
  border-radius: 5px;
}

img.pin {
  cursor: pointer;
}

/* Log in page */

main.logInPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1.logInPage {
  text-align: center;
  color: white;
  text-shadow: 1.75px 1.75px #338be6;
  font-family: billabong;
  font-size: 4rem;
  font-weight: 300;
  background-color: rgba(1, 1, 59, 0.3);
  border-radius: 42%;
  margin: 20px 175px 50px 175px;
}

div.logIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 10px 0 10px 0;
  margin: 25px 10px 10px 10px;
  background-color: rgba(1, 1, 59, 0.6);
  border: 1.25px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

img.logo {
  width: 80px;
  margin-top: -50px;
  margin-bottom: 10px;
}

.camera {
  width: 70px;
  border-radius: 50%;
  margin-top: -45px;
  margin-bottom: 10px;
}

.plus {
  width: 20px;
  border-radius: 50%;
  margin-top: -25px;
  margin-right: -43px;
  margin-bottom: 5px;
}

button.facebookLogIn {
  color: white;
  background-color: #395a94;
  border: none;
  font-size: 15px;
  height: 25px;
  width: 200px;
  margin-bottom: 5px;
  cursor: pointer;
}

button.googleLogIn {
  color: white;
  background-color: #3a88ed;
  border: none;
  font-size: 15px;
  height: 25px;
  width: 200px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Welcome */

div.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  padding: 10px 0 10px 0;
  margin: 25px 10px 10px 10px;
  background-color: rgba(1, 1, 59, 0.6);
  border: 1.25px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

h1.welcome {
  color: white;
  text-shadow: 1.5px 1.5px #338be6;
  font-family: billabong;
  font-size: 38px;
  font-weight: 100;
  margin: 15px 0 30px 0;
}

p.welcomeQuote {
  text-align: center;
  color: white;
  font-family: billabong;
  font-weight: 100;
  font-size: 24px;
  margin: 5px;
}

p.welcome {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 5px 5px 15px 5px;
}

button.welcome {
  background-color: rgb(184, 179, 179);
  border-radius: 5px;
  margin: 10px;
  width: 90px;
  margin: 10px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

/* pin-popUp page */

div.pinPopUp {
  display: flex;
  flex-direction: column;
  background-color: #eceae4;
  width: 140px;
  min-height: 120px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.mapboxgl-popup {
  z-index: 1;
}

div.mapboxgl-popup-content {
  background-color: #eceae4;
  border-radius: 5px;
}

p.pinPopUp {
  margin: 0;
}

img.photoAlbumPreview {
  max-height: 100px;
  max-width: 100px;
}

button.pinPopUp {
  width: 100px;
  margin-top: 5px;
  cursor: pointer;
}

i.fa-trash-alt {
  color: rgb(179, 16, 16);
  margin-top: 6px;
}

div.pinPopUpButtons {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 90%;
}

/* photo gallery page */

main.photoGalleryPage {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 5px;
  margin: 5px;
}

div.topBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

div.profileBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.profileImage {
  width: 70px;
  border-radius: 50%;
  margin-top: 10px;
}

img.profilePlus {
  border-radius: 50%;
  width: 20px;
  margin-top: -15px;
  margin-left: 43px;
}

h4.profileBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 550;
  margin: 10px 0 10px 5px;
}

input.profileBar {
  width: 100px;
  margin: 5px;
}

button.profileBar {
  width: 100px;
  cursor: pointer;
}

hr {
  width: 80%;
}

div.photoGallerySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h4.photoGallerySection {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 550;
}

img.photoPlusMinus {
  border-radius: 50%;
  width: 20px;
  margin: 0 0 -5px 5px;
  cursor: pointer;
}

div.photosGalleryImages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.albumForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 300px;
  margin-bottom: 15px;
}

input.uploadPhotoInput {
  margin: 10px 0 0 75px;
  cursor: pointer;
}

input.addCaptionInput {
  border-image-source: linear-gradient(
    rgba(11, 73, 243, 0.568),
    rgba(15, 15, 136, 0.5)
  );
  border-width: 1.75px;
  border-image-slice: 1;
  margin: 5px 0 5px 0;
}

button.addPhoto {
  margin: 5px 0 10px 0;
  padding: 5px;
  width: 100px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  background-color: rgb(9, 122, 28);
  border-color: rgb(9, 122, 28);
  border-radius: 5px;
}

button.deleteAlbum {
  margin: 10px;
  padding: 5px;
  width: 100px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: rgb(179, 16, 16);
  border-color: rgb(179, 16, 16);
  border-radius: 5px;
}

img.photoGalleryImage {
  margin: 2px;
  height: 125px;
  width: 125px;
  box-shadow: 0 0 2.5px black;
}

/* individual photo page */

div.individualPhoto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 5px;
  width: 100%;
  max-width: 310px;
  min-height: 300px;
  margin: 10px;
}

.photoDotsIcon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

i.fa-ellipsis-h {
  padding: 5px 10px 0 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

button.deletePhoto {
  outline: none;
  cursor: pointer;
}

button.deletePhoto:hover {
  color: rgb(179, 16, 16);
  border-color: rgb(179, 16, 16);
  border-radius: 5px;
}

img.photo {
  margin-top: 5px;
  width: 290px;
}

p.timeStamp {
  margin: 2.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div.photoPageBack {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

a.photoPageBack {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px 0 0;
}

/* Footer */

footer {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

@media (min-width: 450px) {
  /* Welcome */

  div.welcome {
    width: 370px;
  }

  h1.welcome {
    font-size: 45px;
    font-weight: 100;
  }

  p.welcomeQuote {
    font-size: 28px;
  }

  /* Map main page */

  div.map {
    width: 420px;
    height: 370px;
  }

  h1.mainPage {
    margin: 5px 175px 10px 175px;
  }

  /* Individual photo page */

  div.photo {
    max-width: 440px;
    margin: 20px;
  }

  img.photo {
    width: 420px;
  }
}

@media (min-width: 500px) {
  div.map {
    width: 490px;
    height: 370px;
  }
}

@media (min-width: 750px) {
  /* Welcome */

  div.welcome {
    width: 500px;
  }

  /* Map main page */

  div.map {
    width: 700px;
    height: 450px;
  }

  h1.mainPage {
    margin: 0 175px 10px 175px;
  }

  /* photo gallery page */

  div.photoGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main.photoGalleryPage {
    width: 750px;
  }

  /* Individual photo page */

  a.photoPageBack {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  div.map {
    width: 775px;
    height: 450px;
  }
}

/* Don't show the stars on mobile */
@media (max-width: 450px) {
  .stars-background {
    display: none;
  }
}
